.hide {
    display: none
}

body {
    position: center;
}

div.container {
    border: 1px solid blue;
    border-radius: 15px;
}
.container {
    padding: 20px;
    width: 500px;
    position: auto;
    margin: 20px
}

.card {
    position: auto;
    margin: 50px;
}
.card-text {
    position: relative;
    margin: 40px;
}

#StartQuiz {
    position: ;
}
